.error {color: red;}
.success {color: green;}

body {
    background-color: #DCD5F2;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui;
}
.manoff { background-color: gray;}
.fullChg { background-color: lightgray;}
.dumping { background-color: pink;}

.rt {
    float: right;
}
.stat {
    background-color: #F6F4FD;
    display: inline-block;
    border: #8D7DC0 solid .2em;
    border-radius: .5em;
    padding: .2em;
    margin: .1em;
    min-width: 3em;
}
.stat .v,.t,.i,.o {
    font-size: larger;
    font-weight: bold;
}

.lrg {
    font-size: x-large;
    font-weight: bold;
}

#menu {
    font-family: sans-serif;
    font-size: xx-large;
    background-color: #B8ACDE;
}

#cellDivRow a {
    text-decoration: underline;
}

#cellDivRow input {
    width: 3em;
}
#menu a {
    color: white;
    text-decoration: none;
    padding: 0 .25em 0 .25em;
}

#menu .active {
    background-color: #8D7DC0;
    border-radius: .3em .3em 0em 0em;
}

#content > div {
    background-color: #8D7DC0;
    padding: .5em;
}

#cells {
    flex: 1;
}

form #cellDiv {
    border-radius: 1em;
    background-color: #F6F4FD;
    padding: .5em;
}

input[type=number] {
    width: 5em;
    text-align: right;
}

.limits {
    width: 50em;
}

.shuntSet {
    display: inline-block;
}
label {
    display: inline-block;
    text-align: right;
    margin-right: .1em;
}

label.rec {
    width: 3em;
}

label.field {
    width: 10em;
}

label.cellVoltADC {
    width: 18em;
}
label.samples {
    width: 8em;
}
#net label {
    width: 10em;
}

#batt label {
    width: 13em;
}

.buttonhold {
    text-align: center;
}

#cellsRow {
    display: inline-block;
}

#cellsRow .t {
    display: inline-block;
    width: 1.5em;
    text-align: right;
    margin-right: .3em;
}

#minY,#maxY,#DurH,#DurM {
    width: 3em;
}

#relay label {
    width: 2em;
}
#BurnDur label {    
    width: 4em;
}
#cellsRow label,#YScale label {
    width: 3.5em;
}
